*.pyc
.vscode/*

# Local History for Visual Studio Code
.history/
qt/*
TEMP/
io_import_w2l/test.py
io_import_w2l/.vscode/
io_import_w2l/TEMP_PATHS.py
io_import_w2l/JSON_EXPORT_TEMP/
LINKS/
witcher_texture/
